[submodule ".zsh-custom/themes/spaceship-prompt"]
	path = .zsh-custom/themes/spaceship-prompt
	url = https://github.com/denysdovhan/spaceship-prompt.git
[submodule ".zsh-custom/plugins/zsh-z"]
	path = .zsh-custom/plugins/zsh-z
	url = https://github.com/agkozak/zsh-z.git
