[submodule ".zsh-custom/plugins/zsh-z"]
	path = .zsh-custom/plugins/zsh-z
	url = https://github.com/agkozak/zsh-z
[submodule "colorizer"]
	path = colorizer
	url = https://github.com/lilydjwg/colorizer
